/*
 * Theme Customizer CSS
 *
 */

.customize-control-checkbox {
	margin-bottom: 4px;
}

#customize-control-dynamicnews_control_default_fonts,
#customize-control-dynamicnews_control_topnavi_title,
#customize-control-dynamicnews_control_header_content,
#customize-control-dynamicnews_control_excerpt_text_headline,
#customize-control-dynamicnews_control_post_images,
#customize-control-dynamicnews_control_postmeta_headline,
#customize-control-dynamicnews_control_post_footer_headline,
#customize-control-dynamicnews_control_slider_activated,
#customize-control-dynamicnews_theme_options-slider_speed {
	margin-top: 16px;
}

#customize-control-dynamicnews_control_featured_posts_header,
#customize-control-dynamicnews_control_slider_animation {
	margin-top: 8px;
	border-top: 1px solid #eee;
	padding-top: 14px;
}

#customize-control-dynamicnews_control_sliding_sidebar_title,
#customize-control-dynamicnews_control_default_fonts,
#customize-control-dynamicnews_control_header_content,
#customize-control-dynamicnews_control_topnavi_title,
#customize-control-dynamicnews_control_post_images,
#customize-control-dynamicnews_control_excerpt_text_headline,
#customize-control-dynamicnews_control_postmeta_headline,
#customize-control-dynamicnews_control_post_footer_headline,
#customize-control-dynamicnews_control_slider_activated,
#customize-control-dynamicnews_control_featured_posts_header  {
	margin-bottom: 0;
}

#customize-control-dynamicnews_control_upgrade div {
	margin: 4px 0 32px;
}
#customize-control-dynamicnews_control_upgrade div .customize-control-title {
	margin-bottom: 4px;
}

#accordion-panel-dynamicnews_options_panel .customize-info .customize-help-toggle {
	top: 24px;
	right: 4px;
}

#accordion-panel-dynamicnews_options_panel .customize-info .customize-help-toggle::before {
	content: "\f333";
	color: #a0a5aa;
	font-size: 28px;
	padding: 0;
	left: 0;
	top: 0;
}

#accordion-panel-dynamicnews_options_panel .customize-info .customize-help-toggle[aria-expanded="true"]::before {
	content: "\f335";
}

#accordion-panel-dynamicnews_options_panel .customize-info .customize-help-toggle:hover::before {
	color: #72777c;
}

#accordion-panel-dynamicnews_options_panel .customize-info .customize-help-toggle:focus::before {
	box-shadow: none;
}
